@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
::-moz-selection {
  background-color: #9453A6;
  color: #3CBF3F;
}
::selection {
  background-color: #9453A6;
  color: #3CBF3F;
}

*:active, :-webkit-any-link, ::after {
  text-decoration: none;
  color: #9453A6;
}

*:active, :-moz-any-link, ::after {
  text-decoration: none;
  color: #9453A6;
}

*:active, :any-link, ::after {
  text-decoration: none;
  color: #9453A6;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto',sans-serif !important;
}

body .bg-img {
  background-color: #e4e4e4;
}

@use 'default';
img.logo {
  background-color: transparent;
  width: 15%;
  -webkit-transition: -webkit-transform 3s ease;
  transition: -webkit-transform 3s ease;
  transition: transform 3s ease;
  transition: transform 3s ease, -webkit-transform 3s ease;
}

img.logo:hover {
  -webkit-transform: rotatey(360deg);
          transform: rotatey(360deg);
}

nav {
  background-color: #FDF8E5;
  font-size: 1.9rem;
  font-family: 'pattaya';
  font-weight: 100;
  letter-spacing: 1.5px;
}

nav li {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav li:hover {
  font-size: 1.5em;
}

nav li a {
  color: #3CBF3F !important;
}

nav li a:last-child {
  color: #9453A6 !important;
}

nav li a:hover {
  color: #3CBF3F !important;
}

nav ul.dropdown-menu {
  background-color: transparent;
  text-align: center;
}

nav ul.dropdown-menu li a {
  font-family: 'roboto';
  font-weight: bold;
  font-size: 1em;
  color: #0D0D0D !important;
  background-color: transparent !important;
  text-transform: uppercase;
}

nav ul.dropdown-menu li a:hover {
  color: #F2CC0F !important;
}

footer {
  background-blend-mode: screen;
  color: #4b4848;
  font-size: 1.2rem;
}

footer h6 {
  font-family: 'roboto';
  font-size: 1.4rem;
  color: #f2f2f2;
}

footer a:hover {
  color: #F2CC0F;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-size: 1.2em;
}

footer .top-footer {
  list-style: none;
  height: 50%;
  background-color: #3CBF3F;
}

footer .top-footer h6 {
  font-family: 'pattaya';
}

footer .top-footer button {
  background-color: transparent;
  border: 0.5px solid #9453A6;
  color: #9453A6;
  font-size: 1em;
  padding: 0.5em 1em;
  font-weight: bold;
  letter-spacing: 1.5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

footer .top-footer button:hover {
  border: 1px solid #F2CC0F;
}

footer .bottom-footer {
  letter-spacing: 1.3px;
  background-color: #3cbf3ecc;
  height: 30%;
  width: 100%;
  padding: 0;
}

.carousel-item {
  height: 90vh;
  background-color: #0D0D0D;
  color: #f2f2f2;
  position: relative;
}

.carousel-item .container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1em;
  text-align: center;
}

.carousel-item .container h1 {
  font-family: "henny penny";
  letter-spacing: 1.5px;
  font-size: 3rem;
  margin-bottom: 0.5em;
  font-weight: bold;
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
  position: relative;
  -webkit-animation-name: slider-h;
          animation-name: slider-h;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slider-h {
  from {
    top: -325px;
  }
  to {
    top: 0px;
  }
}

@keyframes slider-h {
  from {
    top: -325px;
  }
  to {
    top: 0px;
  }
}

.carousel-item .container p {
  width: 100%;
  line-height: 1.6;
  font-size: 1.5rem;
  font-weight: 500;
  margin: auto;
  position: relative;
  -webkit-animation-name: slider-p;
          animation-name: slider-p;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@-webkit-keyframes slider-p {
  from {
    left: -325px;
  }
  to {
    left: 0px;
  }
}

@keyframes slider-p {
  from {
    left: -325px;
  }
  to {
    left: 0px;
  }
}

.carousel-item .overlay-image {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

section.top {
  background-color: #f2f2f2;
  overflow: visible;
}

@media (max-width: 768px) {
  .carousel-item .container h1 {
    font-size: 2rem;
  }
  .carousel-item .container p {
    font-size: 1.2rem;
  }
}

.mobile-mode {
  width: 100%;
  background-color: #0D0D0D;
  text-align: center;
  color: #f2f2f2;
}

.mobile-mode .mobile-mode-content {
  width: 100%;
  height: auto;
  position: relative;
}

.mobile-mode .mobile-mode-content img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.mobile-mode .mobile-mode-content h1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto;
  width: 100%;
  font-weight: bold;
  color: #f2f2f2;
  font-family: 'henny penny',sans-serif;
}

section.main {
  background-color: #FDF8E5;
}

section.main img {
  width: 80px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

section.main img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-filter: none;
          filter: none;
}

section.supponsers {
  background-color: #fdf8e5d7;
}

section.supponsers img {
  -webkit-filter: brigtness(120%);
          filter: brigtness(120%);
}

section.supponsers h1, section.supponsers h2 {
  font-family: 'pattaya';
  color: #3CBF3F;
}

section.supponsers p {
  font-size: 1.2rem;
  line-height: 1.5;
}

section.supponsers button {
  width: 100px;
  padding: 0.5em 1em;
  letter-spacing: 1px;
  font-family: roboto;
  font-size: 1.1rem;
  background-color: transparent;
  border: 0.5px solid #3CBF3F;
  color: #3CBF3F;
  cursor: pointer;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

section.supponsers button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.about {
  background-color: #FDF8E5;
}

.about .top-photo {
  font-family: 'henny penny';
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .top-photo::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("https://images.pexels.com/photos/2409361/pexels-photo-2409361.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.about .top-photo h1 {
  font-size: 4em;
}

.about .top-photo h1, .about .top-photo h3 {
  position: relative;
  color: #f2f2f2;
}

.about .history-content h1 {
  color: #9453A6;
  font-size: 2.5em;
  font-family: 'pattaya';
}

.about .history-content p {
  font-size: 1.4em;
}

.about .our-team h1, .about .our-team h3 {
  color: #9453A6;
  font-family: 'pattaya';
}

.about .our-team h3 {
  text-align: center;
}

.about .our-team img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 4rem auto;
  display: block;
  -webkit-box-shadow: #a19d9d 1px 1px 1px 1px;
          box-shadow: #a19d9d 1px 1px 1px 1px;
}

@media (max-width: 768px) {
  .about .our-team img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 375px) {
  .about .our-team img {
    width: 70px;
    height: 70px;
  }
}

.about .our-team p {
  font-size: 12px;
}

.about .our-team button {
  background-color: transparent;
  border: 0.2px solid black;
  padding: 3px 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.about .our-team button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #3CBF3F;
  border: 0.2px solid #3CBF3F;
}

.about .mayor {
  color: #f2f2f2;
}

.about .mayor .mayor-header {
  background-color: #9453A6;
  height: 55vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .mayor .mayor-header .container {
  text-align: center;
}

.about .mayor .mayor-header .container h1 {
  font-size: 5em;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
}

.about .mayor .mayor-header .container h1 b {
  font-family: 'henny penny';
}

.about .mayor .mayor-pro {
  padding: 2rem;
  background-color: #f2f2f2;
  color: #0D0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .mayor .mayor-pro .mayor-pro-content {
  width: 30%;
  text-align: center;
}

@media (max-width: 672px) {
  .about .mayor .mayor-pro .mayor-pro-content {
    width: 90%;
  }
}

.about .mayor .mayor-pro .mayor-pro-content i {
  font-size: 1.4rem;
}

.about .mayor .mayor-pro .mayor-pro-content img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.about .mayor .mayor-main {
  color: #0D0D0D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .mayor .mayor-main .container {
  text-align: center;
}

.about .mayor .mayor-main .container .inner-container {
  width: 50%;
  margin: auto;
  padding: 2em;
  font-size: 1.1em;
}

@media (max-width: 900px) {
  .about .mayor .mayor-main .container .inner-container {
    width: 100%;
  }
}

.about .mayor .mayor-main .container .inner-container .mayor-photo {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.about .mayor .mayor-main .container .inner-container .mayor-photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.about .mayor .mayor-main .container .inner-container h3 {
  margin: 3rem;
  color: #9453A6;
}

.media {
  background-color: #FDF8E5;
}

.media img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.media img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.media .container {
  max-width: 900px;
}

.media .all-gallerys {
  padding: 2em;
}

.media .all-gallerys h1 {
  font-family: 'henny penny';
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 5rem;
}

.media .top-image {
  font-family: 'henny penny';
  font-weight: 900;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media .top-image::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("https://media.gettyimages.com/photos/venice-carnival-2008-masked-and-costumed-revellers-in-a-sea-of-in-picture-id527436982?k=6&m=527436982&s=612x612&w=0&h=V1kWJC_j41zdtIaRyDw4pwf6P_9CsujIIUa4_JO7Q68=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.media .top-image .content-media {
  text-align: center;
}

.media .top-image .content-media h1, .media .top-image .content-media h3 {
  position: relative;
  color: #f2f2f2;
  margin: 1em;
}

.media .top-image .content-media h1 {
  font-size: 4em;
  width: 80%;
  margin: 0 auto;
}

.media .top-image .content-media h3 {
  font-family: roboto;
}

.media div.media-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2000;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  background-color: transparent;
  margin-top: 1rem;
  padding: 0.25em;
}

.media div.media-nav ul.ul-media {
  list-style: none;
  font-weight: 900;
  color: #9453A6;
  margin-top: 2rem;
}

.media div.media-nav ul.ul-media li {
  font-size: 2rem;
  padding: 0.5em;
  letter-spacing: 1.2px;
  font-family: 'pattaya';
}

.media div.media-nav ul.ul-media li a {
  color: #9453A6;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.media div.media-nav ul.ul-media li a:hover {
  color: #F2CC0F;
}

.media .image-gallery {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #f2f2f2;
}

.media .image-gallery .image-gallery-content {
  padding: 10rem 0 2em;
}

.media .image-gallery .img {
  width: 200px;
  height: 200px;
}

section.faq .top-faq {
  background-image: url("https://images.pexels.com/photos/6781765/pexels-photo-6781765.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  background-size: cover;
  background-color: #0D0D0D;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

section.faq .top-faq h1 {
  color: #f2f2f2;
  font-weight: 900;
  font-size: 5rem;
  font-family: 'henny penny';
  width: 70%;
  letter-spacing: 2px;
  margin: 0 auto;
  text-align: center;
}

section.faq .pro-faq {
  padding: 3rem;
}

section.faq .pro-faq .container {
  width: 70%;
  text-align: justify;
}

@media (max-width: 768px) {
  section.faq .pro-faq .container {
    width: 100%;
  }
}

section.faq .pro-faq .container p {
  line-height: 2;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 900;
  color: #f2f2f2;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

section.faq .pro-faq .container p a {
  color: #3CBF3F;
}

section.faq .main-faq {
  padding: 4rem;
  background-color: #FDF8E5;
}

section.faq .main-faq .container {
  width: 70%;
}

@media (max-width: 768px) {
  section.faq .main-faq .container {
    width: 100%;
  }
}

section.faq .main-faq .container .accordion-item {
  margin-bottom: 2rem;
}

section.faq .main-faq .container .accordion-button {
  color: #9453A6;
  padding: 1rem;
  font-size: 2rem;
  letter-spacing: 1.4px;
  font-weight: 700;
  font-family: 'pattaya';
}

@media (min-width: 300px) {
  section.faq .main-faq .container .accordion-button {
    font-size: 1.6rem;
  }
}

@media (min-width: 678px) {
  section.faq .main-faq .container .accordion-button {
    font-size: 2rem;
  }
}

@media (min-width: 960px) {
  section.faq .main-faq .container .accordion-button {
    font-size: 2.2rem;
  }
}

section.faq .main-faq .container .accordion-button::after {
  background-image: url("/image/chat-dots.svg");
  background-size: 2rem;
  background-position: center;
  height: 4.25rem;
  width: 3.5rem;
}

section.faq .main-faq .container .accordion-button:not(.collapsed) {
  color: #0D0D0D;
  background-color: #9453A6;
  background-color: transparent;
  border: none;
}

section.faq .main-faq .container .accordion-button:not(.collapsed)::after {
  -webkit-transform: scale(1.2) rotate(180deg);
          transform: scale(1.2) rotate(180deg);
}

section.faq .main-faq .container .accordion-button:focus {
  border-color: #3CBF3F;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 0.25rem #3CBF3F;
          box-shadow: 0 0 0 0.25rem #3CBF3F;
}

section.faq .main-faq .container .accordion-button:focus:not(:focus-visible) {
  outline: none;
}

section.faq .accordion-body {
  width: 70%;
  margin: 0 auto;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  section.faq .accordion-body {
    width: 100%;
  }
}

.contact-top .top-image {
  background-image: url("https://media.cntraveler.com/photos/5e34717c0615da0008a9176b/16:9/w_2560%2Cc_limit/MardiGras-lede-2020-GettyImages-1133872391.jpg");
  background-color: gray;
  background-blend-mode: screen;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-top .top-image .content-media {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #0D0D0D;
  font-family: 'henny penny',sans-serif;
}

.contact-top .top-image h1 {
  font-size: 4rem;
}

.contact-top .top-image h3 {
  font-size: 2rem;
  font-family: roboto,sans-serif;
}

@media (max-width: 768px) {
  .contact .left-contact, .contact .right-contact {
    width: 100%;
    height: 50vh;
  }
}

.contact .left-contact iframe, .contact .right-contact iframe {
  width: 100%;
  height: 100%;
}

.contact .main-contact {
  background-color: #FDF8E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .contact .main-contact {
    width: 100%;
  }
}

.contact .main-contact .form-contact {
  padding: 3rem;
  text-align: center;
}

.contact .main-contact .form-contact h1 {
  font-family: 'pattaya',sans-serif;
  color: #9453A6;
}

.contact .main-contact .form-contact .form input[type="submit"] {
  cursor: pointer !important;
}

.contact .main-contact .form-contact .form input, .contact .main-contact .form-contact .form textarea {
  width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 3px 9px 2px #000000;
          box-shadow: 0px 3px 9px 2px #000000;
}

.contact .main-contact .form-contact .form input:focus, .contact .main-contact .form-contact .form input:active, .contact .main-contact .form-contact .form input::-moz-selection, .contact .main-contact .form-contact .form textarea:focus, .contact .main-contact .form-contact .form textarea:active, .contact .main-contact .form-contact .form textarea::-moz-selection {
  color: #3CBF3F;
  font-size: 10px;
  transform: translate(2%);
  border: none;
}

.contact .main-contact .form-contact .form input:focus, .contact .main-contact .form-contact .form input:active, .contact .main-contact .form-contact .form input::selection, .contact .main-contact .form-contact .form textarea:focus, .contact .main-contact .form-contact .form textarea:active, .contact .main-contact .form-contact .form textarea::selection {
  color: #3CBF3F;
  font-size: 10px;
  -webkit-transform: translate(2%);
          transform: translate(2%);
  border: none;
}

.contact .main-contact .form-info {
  margin: auto;
  padding: 1rem;
}

.contact .main-contact .form-info h3 {
  font-family: 'pattaya',sans-serif;
  color: #9453A6;
}

.contact .main-contact .form-info i {
  font-size: 2rem;
  margin-right: 1rem;
}

.contact .main-contact .form-info div {
  font-size: 1.6rem;
  margin: 4rem 0;
}

.contact .banners {
  height: 50vh;
}

.contact .banners .left-contact, .contact .banners .right-contact {
  height: 100%;
}

.quiz, .game {
  background-color: #1d1a1a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nova Square',cursive;
}

.quiz h1, .game h1 {
  font-size: 5.4rem;
  color: #f2f2f2;
  margin-bottom: 5rem;
}

.quiz h2, .game h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
}

.quiz .container, .game .container {
  min-width: 100vw;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.quiz .flex-column, .game .flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quiz .flex-center, .game .flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz .justify-center, .game .justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quiz .text-center, .game .text-center {
  text-align: center;
}

.quiz .hidden, .game .hidden {
  display: none;
}

.quiz .btn, .game .btn {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #1c1a1a;
  background: -webkit-gradient(linear, left top, right top, from(#125de1), to(#0066ff));
  background: linear-gradient(90deg, #125de1 0%, #0066ff 100%);
  border-radius: 4px;
}

.quiz .btn:hover, .game .btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1/4rem rgba(18, 114, 244, 0.6);
          box-shadow: 0 0.4rem 1/4rem rgba(18, 114, 244, 0.6);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.quiz .btn[disabled]:hover, .game .btn[disabled]:hover {
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

.quiz #highscore-btn, .game #highscore-btn {
  background: -webkit-gradient(linear, left top, right top, from(#fff709), to(#f0dd06));
  background: linear-gradient(90deg, #fff709 0%, #f0dd06 100%);
}

.quiz #highscore-btn .fa-crown, .game #highscore-btn .fa-crown {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.quiz #highscore-btn:hover, .game #highscore-btn:hover {
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 0, 0.5);
          box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 0, 0.5);
}

.quiz .end-form-container, .game .end-form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 30rem;
}

.quiz input, .game input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  -webkit-box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
          box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.quiz input::-webkit-input-placeholder, .game input::-webkit-input-placeholder {
  color: #aaa;
}

.quiz input:-ms-input-placeholder, .game input:-ms-input-placeholder {
  color: #aaa;
}

.quiz input::-ms-input-placeholder, .game input::-ms-input-placeholder {
  color: #aaa;
}

.quiz input::placeholder, .game input::placeholder {
  color: #aaa;
}

.quiz #username, .game #username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

.quiz #end-text, .game #end-text {
  font-size: 2.4rem;
  color: #f2f2f2;
  text-align: center;
}

.quiz #saveScoreBtn, .game #saveScoreBtn {
  border: none;
}

.quiz .fa-home, .game .fa-home {
  margin-left: 1rem;
  font-size: 2rem;
  color: #1c1a1a;
}

.quiz #highScoresList, .game #highScoresList {
  margin-bottom: 4rem;
}

.quiz .high-score, .game .high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

.game {
  color: #f2f2f2;
}

.choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  background: #125dff;
  font-size: 3rem;
  min-width: 80rem;
}

.choice-container:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
          box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.choice-container .choice-prefix {
  padding: 2rem 2.5rem;
  color: #f2f2f2;
}

.choice-container .choice-text {
  padding: 2rem;
  width: 100%;
}

.correct {
  background: linear-gradient(32deg, #0be924 0%, #29e86f) 100%;
}

.incorrect {
  background: linear-gradient(32deg, #ee1d1d 0%, #e00b0b) 100%;
}

#hud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hud .hud-prefix {
  text-align: center;
  font-size: 2rem;
}

#hud .hud-main-text {
  text-align: center;
}

#hud #progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid #0bdf24;
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}

#hud #progressBar #progressBarFull {
  height: 100%;
  background: #0bdf24;
  width: 0%;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
/*# sourceMappingURL=main.css.map */